*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    max-width: 450px;
    height: 90vh;
    margin: 50px auto;
    background-color: #111111;
    border-radius: 10px;
    position: relative;
}
.contenedor__encabezado{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor__titulo{
    font-size: 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.contenedor__boxicons{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
}
 /* Barra de chat, estado, llamadas */
.contenedor__encabezado_barra{
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor__camara{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.contenedor__titulo_navegacion{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    text-decoration: none;
}
/* --------------chats-------------- */
.contenedor__listas{
    max-height: 555px;
    overflow-y: scroll;
    padding: 10px;
}
.contenedor__contactos{
    display: flex;
    position: absolute;
    background-color: #25d366;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    cursor: pointer;
    right: 45px;
    bottom: 25px;
}
.contenedor__chats{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}
.contenedor__chats:hover{
    background-color: #292929;
}
.contenedor__imagen{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px; 
    margin-left: 5px;
}
.contenedor__informacion{
    flex-grow: 1;
}
.contenedor__nombre{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contenedor__mensaje{
    color: #9b9fa2;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor__tiempo-notificaciones{
    text-align: end;
    align-items: flex-end;
}
.contenedor__tiempo{
    font-size: 15px;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor__tiempo--verde_claro{
    font-size: 15px;
    color: #25d366;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor__notificaciones--verde_claro{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #25d366;
    border-radius: 50%;
    font-size: 10px;
    margin-top: 4px;
    text-align: center;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}