@import url(variables.css);
@import url(estilos/chats.css);
@import url(estilos/estados.css);
@import url(estilos/llamadas.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* interfaz pasar de chats a estados y llamadas */

body{
    background-color: var(--gris_blanquito);
}

.contenedor__interaccion{
    position: relative;
}

.contenedor__radio{
    visibility: hidden;
    display: none;
}
#chats:checked~.contenedor__titulo_navegacion .contenedor__titulo_navegacion:nth-child(1),
#estados:checked~.contenedor__titulo_navegacion .contenedor__titulo_navegacion:nth-child(2),
#llamadas:checked~.contenedor__titulo_navegacion .contenedor__titulo_navegacion:nth-child(3){
    border: 10px solid #fff;
}
.contenedor__interaccion_principal{
    display: flex;
    position: relative;
    width: 1350px;
    height: 730px;
}

#chats:checked ~ .contenedor__interaccion_principal{
    /* left: calc(350px*0); */
    translate: 0px;
}
#estados:checked ~ .contenedor__interaccion_principal{
    /* left: calc(350px *-1); */
    translate: -450px;
}
#llamadas:checked ~ .contenedor__interaccion_principal{
    /* left: calc(350px*-2); */
    translate: -900px;
}

.contenedor{
    max-width: 450px;
    height: 850px;
    margin: 50px auto;
    background-color: var(--negro_grisaceo);
    border-radius: 10px;
    /* position: relative; */
    overflow: hidden;
}
.contenedor__encabezado{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor__titulo{
    font-size: 25px;
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.contenedor__boxicons{
    color: var(--blanco);
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
}
 /* Barra de chat, estado, llamadas */
.contenedor__encabezado_barra{
    height: 50px;
    color: var(--blanco);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor__camara{
    color: var(--blanco);
    font-size: 25px;
    text-decoration: none;
}
.contenedor__titulo_navegacion{
    color: var(--blanco);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
